.imagenes-iconos
{
  border-color: #ffff;
  
  width: 77px;
}



#container-ofertas
{
  
  margin: auto;
  height: 30px;
  border-style:solid ;
  padding : 30px;
  font-size: 15px;
  

}


.letras-ofertas
{
  font-family: cursive;
  font-size: 25px;
  text-align: center;
  padding: 2px 19px;
}



.imagenes-tarjetas{
  height: 220px;
  width: 150px;
  text-align: center;
}

/*footer */

footer {

  
  padding: 3px;
  background-color: #000;
  color: #fff;
  color: bl;


}


#logo-footer
{
  width: 70px;
  height: 70px;
}


